.container {
  max-width: 1000px;
  margin-inline: auto;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.projects-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

h2,
p {
  margin-block: 10px;
}

.card {
  /* border: 3px solid hotpink; */
  aspect-ratio: 1/1.5;
}

.card__content {
  background-color: var(--white);
  align-self: flex-end;
  margin: 10px 10px 10px;
  padding: 10px;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

.card__title {
  color: firebrick;
}

.card__price {
  font-size: 1.75rem;
}

.card__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.project-link {
  color: var(--grey);
}

.project-link:hover {
  color: var(--grey-light);
}

@media (min-width: 600px) {
  .featured {
    grid-column: span 2;
    grid-row: span 2;
  }

  .featured .card__img {
    aspect-ratio: 1/1.25;
  }

  .featured .card__title {
    font-size: 2rem;
  }
}
